*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f7fc;
    color:#333;
}

/* Header */
header{
    background:#ffffff;
    padding:18px 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    position:sticky;
    top:0;
}

header h2{
    color:#0d6efd;
    font-weight:600;
}

nav a{
    margin-left:30px;
    text-decoration:none;
    color:#333;
    font-weight:500;
    transition:0.3s;
}

nav a:hover{
    color:#0d6efd;
}

/* Hero */
.hero{
    height:95vh;
    background:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
    url('https://images.unsplash.com/photo-1581578731548-c64695cc6952');
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
}

.hero h1{
    font-size:60px;
    font-weight:600;
}

.hero p{
    font-size:22px;
    margin:20px 0;
}

.btn{
    padding:14px 35px;
    background:#ffc107;
    border:none;
    border-radius:8px;
    text-decoration:none;
    color:black;
    font-weight:600;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.08);
    background:#ffca2c;
}

/* Section */
.section{
    padding:80px 60px;
    text-align:center;
}

.section h2{
    font-size:36px;
    margin-bottom:10px;
}

/* Cards */
.cards{
    margin-top:50px;
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:white;
    padding:30px 20px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card i{
    font-size:40px;
    color:#0d6efd;
    margin-bottom:15px;
}

/* Why Choose Us */
.features{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:40px;
    flex-wrap:wrap;
}

.feature{
    width:250px;
}

/* Form */
form{
    max-width:500px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:18px;
    margin-top:30px;
}

input,textarea{
    padding:14px;
    border-radius:6px;
    border:1px solid #ccc;
}

/* Footer */
footer{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:60px;
}
